[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"

[packages]
django-debug-toolbar = "==2.0"
django-filter = "==2.2.0"
djangorestframework = "==3.10.3"
pytz = "==2019.2"
sqlparse = "==0.3.0"
Django = "==2.2.5"
Pillow = "==7.1.0"

[requires]
python_version = "3.7"
