{% extends "admin/base.html" %}
{% load static %}
{% load showMsg %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'Province/css/create.css' %}" rel="stylesheet">
{% endblock %}


{% block MainContainer %}
    <div class="container fw">
        <div class="row">
            <div class="col-s12">
                {% include "admin/components/messages.html" %}
            </div>
        </div> 
        <div class="row">
            <div class="col-s12">
                <div class="panel panel-default">
                    <form method="POST" id="province-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-s12">
                                <div class="form-group" style="padding: 15px">
                                    {% showErrors form.introduction.errors %}
                                    <label for="{{ form.introduction.id_for_label }}">
                                        Introduction
                                    </label>
                                    {{ form.introduction }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-6">
                                {% showErrors form.sinhalaName.errors %}
                                <div class="form-group">
                                    <label for="{{ form.sinhalaName.id_for_label }}">
                                        Sinhala Name
                                    </label>
                                    {{ form.sinhalaName }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-6">
                                {% showErrors form.englishName.errors %}
                                <div class="form-group">
                                    <label for="{{ form.englishName.id_for_label }}">
                                        English Name
                                    </label>
                                    {{ form.englishName }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-6">
                                {% showErrors form.tamilName.errors %}
                                <div class="form-group">
                                    <label for="{{ form.tamilName.id_for_label }}">
                                        Tamil Name
                                    </label>
                                    {{ form.tamilName }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-6">
                                {% showErrors form.area.errors %}
                                <div class="form-group">
                                    <label for="{{ form.area.id_for_label }}">
                                        Area
                                    </label>
                                    {{ form.area }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-12">
                                {% showErrors form.mapUrl.errors %}
                                <div class="form-group">
                                    <label for="{{ form.mapUrl.id_for_label }}">
                                        Google Map Url
                                    </label>
                                    {{ form.mapUrl }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-12" id="feature-image">
                                {% showErrors form.featureImage.errors %}
                                <div class="form-group">
                                    <label for="{{ form.featureImage.id_for_label }}">
                                        Feature Image
                                    </label>
                                    <span class="visibility: hidden">{{imageURL}}</span>
                                    <input 
                                        type="file" 
                                        name="featureImage"
                                         accept="image/*" 
                                         class="form-control" 
                                         id="id_featureImage">
                                </div>                                
                            </div>
                            <div class="col-s12 col-md-12">
                                <div id="show_image"></div>  
                            </div>
                            <div class="col-s12 col-md-12">
                                <div class="form-group">
                                    <input 
                                        style="float: right" 
                                        class="btn btn-primary" 
                                        type="submit" 
                                        value="Update Province" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'Province/js/edit.js' %}"></script>
{% endblock %}