{% extends "admin/base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'Province/create.css' %}" rel="stylesheet">
{% endblock %}



{% block MainContainer %}
    <div class="container fw">
        <div class="row">
            <div class="col-s12">
                <div class="panel panel-default">
                    <form method="POST" id="province-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-s12">
                                <div class="form-group" style="padding: 15px">
                                    <label for="{{ form.introduction.id_for_label }}">
                                        {{form.introduction.label | upper}}
                                    </label>
                                    {{ form.introduction }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.sinhalaName.id_for_label }}">
                                        {{form.sinhalaName.label | upper}}
                                    </label>
                                    {{ form.sinhalaName }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.englishName.id_for_label }}">
                                        {{form.englishName.label | upper}}
                                    </label>
                                    {{ form.englishName }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.tamilName.id_for_label }}">
                                        {{form.tamilName.label | upper}}
                                    </label>
                                    {{ form.tamilName }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.area.id_for_label }}">
                                        {{form.area.label | upper}}
                                    </label>
                                    {{ form.area }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-8">
                                <div class="form-group">
                                    <label for="{{ form.mapUrl.id_for_label }}">
                                        {{form.mapUrl.label | upper}}
                                    </label>
                                    {{ form.mapUrl }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.featureImage.id_for_label }}">
                                        {{form.featureImage.label | upper}}
                                    </label>
                                    {{ form.featureImage }}
                                </div>
                            </div>
                            <div class="col-s12 col-md-12">
                                <div class="form-group">
                                    <input class="btn btn-lg btn-primary" type="submit" value="Create" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}