header nav,
footer {
    background-color: #01579b !important;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    margin: 25px auto;
}

.title {
    margin: 20px 10px;
    color: #01579b;
}

.sub-title {
    font-size: 18px;
    margin: 15px 10px;
    text-align: center;
}

.bold {
    color: #01579b;
    font-weight: 500;
}

h1 {
    margin: 20px 10px;
}

h2 {
    margin: 18px 10px;
}

h3 {
    margin: 15px 10px;
}

h3 {
    margin: 10px;
}


#about .collection {
    text-align: center;    
}

#about .collection span {
    display: inline-block;
    margin: 2px 10px;
}