#district_table a {
    color: #fff !important;
}

#district_table #actions button {
    padding: 0;
}

#district_table #actions a {
    padding: 15px;
}


#page-actions {
    margin: 10px 0 20px 0;
}

#page-actions {
    text-align: right;
}