{% extends "admin/base.html" %}
{% load static %}
{% load showMsg %}


{% block styles %}
    {{ block.super }}
    <link href="{% static 'city/css/home.css' %}" rel="stylesheet" />
{% endblock  %}


{% block MainContainer %}

<div class="container fw">
    <div class="row">
        {% include "admin/components/messages.html" %}
    </div>

    <div class="row">
        <form method="GET" autocomplete="off" id='search-form'>
            <div class="col-sm-12 col-md-9">
                <div class="form-group">
                    <input type='text' placeholder='Search city name in english' name='name' required class='form-control'/>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <input type="submit" value="Search" class='form-control'/>
                </div>
            </div>
        </form>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div id="page-actions">
                {% if request.GET.name %}
                    <button class="btn btn-danger" style='background: #c53333;'>
                        <a href="{% url 'city:home' %}" style="color: #fff">Reset Search</a>
                    </button>
                {% endif %} 

                <button class="btn btn-primary">
                    <a href="{% url 'city:create' %}" style="color: #fff">Add new City</a>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <table class="table table-striped" id="city_table">
                    <tr>
                        <th>#</th>
                        <th>District</th>
                        <th>SI-Name</th>
                        <th>EI-Name</th>
                        <th>Actions</th>
                    </tr>

                    {% if object_list %}
                        {% for city in object_list %}
                        <tr>
                            <td class='city_pk'>{{city.pk}}</td>
                            <td class='dis_eng'>{{city.district__englishName}}</td>
                            <td class='city_si'>{{city.sinhalaName}}</td>
                            <td class='city_eng'>{{city.englishName}}</td>
                            <td id="actions">
                                <button class="btn btn-sm btn-success">
                                    <a href="{% url 'city:edit' city.pk %}">E</a>
                                </button>
                                <button class="btn btn-sm btn-danger delete">
                                    <a href="{% url 'city:delete' city.pk %}">D</a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                        {% if request.GET.name %}
                            <td colspan="5" style="text-align: center">{{request.GET.name}} not results found</td>
                        {% else %}
                            <td colspan="5" style="text-align: center">Please Create new City</td>
                        {% endif %}
                        </tr>
                    {% endif %}                    
                </table>
            </div>
        </div>


        <div class="col-sm-12">
            {% if is_paginated %}      
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>

</div>


{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'city/js/home.js' %}"></script>
{% endblock %}