{% extends "admin/base.html" %}
{% load static %}
{% load showMsg %}


{% block styles %}
    {{ block.super }}
    <link href="{% static 'city/css/home.css' %}" rel="stylesheet" />
{% endblock  %}


{% block MainContainer %}

<div class="container fw">
    <div class="row">
        {% include "admin/components/messages.html" %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="page-actions">
                <button class="btn btn-primary">
                    <a href="{% url 'city:create' %}" style="color: #fff">Add new City</a>
                </button>
            </div>
        </div>
    </div>

        <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <table class="table table-striped" id="city_table">
                    <tr>
                        <th>#</th>
                        <th>District</th>
                        <th>SI-Name</th>
                        <th>EI-Name</th>
                        <th>Actions</th>
                    </tr>

                    {% if object_list %}
                        {% for city in object_list %}
                        <tr>
                            <td class='city_pk'>{{city.pk}}</td>
                            <td class='dis_eng'>{{city.district__englishName}}</td>
                            <td class='city_si'>{{city.sinhalaName}}</td>
                            <td class='city_eng'>{{city.englishName}}</td>
                            <td id="actions">
                                <button class="btn btn-sm btn-success">
                                    <a href="{% url 'city:edit' city.pk %}">E</a>
                                </button>
                                <button class="btn btn-sm btn-danger delete">
                                    <a href="{% url 'city:delete' city.pk %}">D</a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="text-align: center">Please Create new City</td>
                        </tr>
                    {% endif %}                    
                </table>
            </div>
        </div>

        

    </div>

</div>


{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'city/js/home.js' %}"></script>
{% endblock %}